<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Sidebar</div>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">Menu 1</a>
          <a href="#" class="list-group-item list-group-item-action">Menu 2</a>
          <a href="#" class="list-group-item list-group-item-action">Menu 3</a>
        </div>
      </div>
      <!-- /Sidebar -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Sidebar</button>
        </nav>
        <div class="container-fluid">
          <h1>Content</h1>
          <p>This is the main content of the page.</p>
        </div>
      </div>
      <!-- /Page Content -->
    </div>

    <script>
      $('#menu-toggle').click(function (e) {
        e.preventDefault();
        $('#wrapper').toggleClass('toggled');
      });
    </script>
  </body>
</html>
