<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar Santri | TPQ-Al-Baidhowi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='gaya.css')}}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top" style="background-color: #228b22">
      <div class="container">
        <a class="navbar-brand" href="#">Pendaftaran Santri Baru</a>
      </div>
    </nav>

    <!-- Pemberitahuan -->
    <!-- <div id="pemberitahuan" style="overflow: hidden">
      <div class="container">
        <div class="row text-start mt-3">
          <div class="col-md-4">
            <h4>Mohon Masukkan Data dengan Benar. Apabila Kekeliruan dalam Mengisi Data, Silahkan Hubungi Admin</h4>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Formulir -->
    <div id="formulir" style="overflow: hidden">
      <div class="container">
        <div class="row mt-5">
          <div class="col mt-4">
            <p style="text-align: center">Silahkan Masukkan Data dengan Benar!</p>
          </div>
        </div>
        <div class="row">
          <div class="col mt-4">
            <form action="/pendaftaran/save" method="POST">
              <div class="form-group">
                <label for="">Nama Santri</label>
                <input type="text" name="name" id="" class="form-control" />
              </div>
              <div class="form-group mt-2">
                <label for="">Tempat Tanggal Lahir</label>
                <input type="text" name="ttl" id="" class="form-control" />
              </div>
              <div class="form-group mt-2">
                <label for="">Nama Ayah</label>
                <input type="text" name="dadname" id="" class="form-control" />
              </div>
              <div class="form-group mt-2">
                <label for="">Pekerjaan Ayah</label>
                <input type="text" name="dadkerja" id="" class="form-control" />
              </div>
              <div class="form-group mt-2">
                <label for="">Nama Ibu</label>
                <input type="text" name="momname" id="" class="form-control" />
              </div>
              <div class="form-group mt-2">
                <label for="">Pekerjaan Ibu</label>
                <input type="text" name="momkerja" id="" class="form-control" />
              </div>
            </form>
          </div>
          <div class="col mt-4 justify-content-center">
            <label for="">Jenis Kelamin</label>
            <!-- <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
              <label class="form-check-label" for="flexRadioDefault1"> Laki-laki </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
              <label class="form-check-label" for="flexRadioDefault2"> Perempuan </label>
            </div> -->
            <select class="form-select" style="width: 275px" aria-label="Default select example">
              <option selected>--Pilih--</option>
              <option value="1">Laki-laki</option>
              <option value="2">Perempuan</option>
            </select>
            <p></p>
            <h6>*Note: Jadwal Masuk Santri</h6>
            a. Usia 5-12 tahun : Hari Senin - Jumat Sore (16:00 - 17:30) untuk program Iqra' dan Al-Qur'an <br />
            b. Usia 13 ke atas : Malam Senin - Malam Jumat (18:00 - 20:30) untuk program Al-Qur'an dan Tahfidz <br />
            <p></p>
            <label for="">Pilih Jadwal Masuk</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
              <label class="form-check-label" for="flexRadioDefault1"> Sore </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
              <label class="form-check-label" for="flexRadioDefault2"> Malam </label>
            </div>
            <p></p>
            <p></p>
            <p></p>
            <div class="form-group mt-4">
              <label for="">No. HP Wali Santri</label>
              <input type="text" name="nohp" id="" class="form-control" />
            </div>
          </div>
          <div class="mb-3 mt-2">
            <label for="exampleFormControlTextarea1" class="form-label">Alamat/Tempat Tinggal</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 100px"></textarea>
          </div>
          <div class="row">
            <div class="col mt-3">
              <h6>Administrasi</h6>
              Biaya masuk : <br />
              <i class="bi bi-caret-right-fill"></i> Pendaftaran : Rp. 50.000 <br />
              Pemeliharaan bangunan* : Rp. 75.000 / Rp. 100.000 <br />
              <select class="form-select" style="width: 275px" aria-label="Default select example">
                <option selected>--Pilih--</option>
                <option value="1">Rp. 75.000</option>
                <option value="2">Rp. 100.000</option>
              </select>
              <p></p>
              SPP bulanan** : Rp. 30.000 / Rp. 50.000 <br />
              <select class="form-select" style="width: 275px" aria-label="Default select example">
                <option selected>--Pilih--</option>
                <option value="1">Rp. 30.000</option>
                <option value="2">Rp. 50.000</option>
              </select>
              <p></p>
              <!-- <h6><u>Catatan</u></h6>
              * Biaya pemeliharaan bangunan di pilih dan dibayarkan di awal pendaftaran dan selanjutnya 1x dalam 1 tahun setiap bulan Januari
              <br />
              ** SPP bulanan di pilih sesuai kemampuan dan keikhlasan dan dibayarkan tiap bulannya
              <br /> -->
            </div>
            <div class="col mt-3">
              <h6>Mengupload Scan Kartu Keluarga</h6>
              <input type="file" name="kartu_keluarga" id="" required="true" />
              <p></p>
              <h6><u>Catatan</u></h6>
              * Biaya pemeliharaan bangunan di pilih dan dibayarkan di awal pendaftaran dan selanjutnya 1x dalam 1 tahun setiap bulan Januari
              <br />
              ** SPP bulanan di pilih sesuai kemampuan dan keikhlasan dan dibayarkan tiap bulannya
              <br />
            </div>
          </div>
        </div>
        <button class="btn mt-3" style="background-color: #228b22; color: white; width: 100px" type="submit">Submit</button>
      </div>
    </div>
  </body>
</html>
